@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    outline: none;
}
html,
body {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.fighters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    flex-wrap: wrap;
    padding: 0 15px;
}

.fighter {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.fighter:hover {
    box-shadow: 0 0 50px 10px rgba(0,0,0,0.06);
    cursor: pointer;
}

.name {
    align-self: center;
    font-size: 21px;
    margin-top: 20px;
}

.fighter-image {
    height: 260px;
}

.fighter-image-big {
    height: 494px;
    width: 296px;
}

#loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background: rgba(255, 255, 255, 0.7);
    visibility: hidden;
}

#start-game {
    margin-top: 74px;
    width: 180px;
    height: 50px;
    border: none;
    background-color: #00a99d;
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 3px;
}

#start-game:active,
#start-game:hover {
    background-color: #008076;
}

#modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
}

.skills-modal {
    display: flex;
    flex-direction: column;
    opacity: 0;
    transform: translateY(-3rem);
    transition: opacity 200ms ease-out, transform 500ms;
    width: 315px;
    height: 332px;
    background-color: #fff;
    box-shadow: 0 1px 7px 0 rgba(52, 52, 52, 0.54);
    border-radius: 3px;
}

.open {
    opacity: 1 !important;
    transform: translateY(0);
}

.skill-label {
    align-self: center;
    font-size: 20px;
}

.skill-input {
    width: 50%;
    height: 15%;
    font-size: 25px;
    align-self: center;
    background-color: lightblue;
    border: none;
    text-align: center;
    border-radius: 5px;
}

.skill-input[type="number"] {
    padding-left: 16px;
}
input[type='checkbox'] {
    -webkit-appearance:none;
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 5px;
    border: 2px solid #555;
}
input[type='checkbox']:checked {
    background: #abd;
}

.update-skills {
    margin-top: 27px;
    height: 15%;
    width: 36%;
    border: none;
    background-color: #00a99d;
    color: #fff;
    font-size: 19px;
    font-weight: bold;
    align-self: center;
    border-radius: 30px;
    cursor: pointer;
}

.update-skills:active,
.update-skills:hover {
    background-color: #008076;
}

.checked-fighter {
    align-self: center;
    margin-top: 5px;
}

.fight-area {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#fighter2-image-big {
    transform: scaleX(-1);
}

.go-to-main-menu {
    visibility: hidden;
    position: fixed;
    width: 130px;
    top: 6%;
    left: 45%;
    background-color: #00a99d;
    color: #fff;
    font-size: 20px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    border-radius: 3px;
}

.go-to-main-menu:active,
.go-to-main-menu:hover {
    background-color: #008076;
}

.winner-title {
    position: fixed;
    width: 70%;
    left: 50%;
    transform: translate(72%, -50%);
    transition: transform 2000ms;
    text-align: center;
    font-size: 130px;
    opacity: 0.9;
    color: #fff;
    background-color: #ff4e00;
    background-image: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);
    border-radius: 5px;
}